TZ=America/Santiago
TALOS_APP_ROOT_URL=http://192.168.3.138/talos/
TALOS_HTTP_PORT=8084

MYSQL_EXTERNAL_PORT=3308
MYSQL_DATABASE=talos
MYSQL_USER=talos_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

PHP_MEM_LIMIT=512m
PHP_CPUS=1.0
PHP_PIDS_LIMIT=128
MYSQL_MEM_LIMIT=1g
MYSQL_CPUS=1.0
MYSQL_PIDS_LIMIT=256
