TZ=America/Santiago
TALOS_APP_ROOT_URL=http://192.168.3.138/talos/
TALOS_HTTP_PORT=8084

MARIADB_EXTERNAL_PORT=3308
MARIADB_DATABASE=talos
MARIADB_USER=talos_user
MARIADB_PASSWORD=change_me
MARIADB_ROOT_PASSWORD=change_me

PHP_MEM_LIMIT=512m
PHP_CPUS=1.0
PHP_PIDS_LIMIT=128
MARIADB_MEM_LIMIT=1g
MARIADB_CPUS=1.0
MARIADB_PIDS_LIMIT=256
